@charset "UTF-8";

#wrap {
	width:1200px;
	margin:auto;
}

header {
	height:70px;
	background-color: #dddddd
}

.contents > .join-box {
	width:300px;
}

.input-box {
	width:650px;
}

#table-title {
	background-color: #dddddd
}

footer {
	height:50px;
	background-color: #dddddd
}














